@tailwind base;
@tailwind components;
@tailwind utilities;

.section-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 8%;
}

.text-shadow {
  text-shadow: 1px 1px 2px #4f569e;
}

.gradient {
  background: linear-gradient(320deg, #818cf87a, white);
}